@layer akaza-reset;
@import "tailwindcss";
@import "@nuxt/ui";

@source "../../../content/**/*";

@theme static {
  --font-sans: "Geist", sans-serif;
  --font-heading: "Geist";
  --font-mono: "Geist Mono";
  --ui-primary: black;

  --color-background: var(--ui-bg);
  --color-foreground: var(--ui-text);

  --color-card: var(--ui-bg-elevated);
  --color-card-foreground: var(--ui-text);

  --color-popover: var(--ui-bg-elevated);
  --color-popover-foreground: var(--ui-text);

  --color-muted: var(--ui-bg-muted);
  --color-muted-foreground: var(--ui-text-muted);

  --color-accent: var(--ui-bg-accented);
  --color-accent-foreground: var(--ui-text);

  --color-border: var(--ui-border);
  --color-input: var(--ui-border);

  /* semantic */
  --color-primary: var(--ui-primary);
  --color-primary-foreground: var(--ui-text-inverted);

  --color-secondary: var(--ui-secondary);
  --color-secondary-foreground: var(--ui-text-inverted);

  --color-destructive: var(--ui-error);
  --color-destructive-foreground: var(--ui-text-inverted);

  /* ring/focus (use with ring-[color] utilities) */
  --color-ring: var(--ui-primary);

  /* radius (shadcn uses this) */
  --radius: var(--ui-radius);
}

:root {
  --ui-container: min(100rem, 100%);
  --ui-radius: 0rem;
  --ui-bg: #fafafa;

  --background: var(--ui-bg);
  --foreground: var(--ui-text);

  --card: var(--ui-bg-elevated);
  --card-foreground: var(--ui-text);

  --popover: var(--ui-bg-elevated);
  --popover-foreground: var(--ui-text);

  --muted: var(--ui-bg-muted);
  --muted-foreground: var(--ui-text-muted);

  --accent: var(--ui-bg-accented);
  --accent-foreground: var(--ui-text);

  --border: var(--ui-border);
  --input: var(--ui-border);

  --primary: var(--ui-primary);
  --primary-foreground: var(--ui-text-inverted);

  --secondary: var(--ui-secondary);
  --secondary-foreground: var(--ui-text-inverted);

  --destructive: var(--ui-error);
  --destructive-foreground: var(--ui-text-inverted);

  --ring: var(--ui-primary);
}

.dark {
  --ui-bg: black;
  --ui-primary: white;
}

html,
body,
#__nuxt {
  min-height: 100%;
  background-color: var(--ui-bg);
}

@media (prefers-reduced-motion: reduce) {
  .motion-reveal {
    opacity: 1 !important;
    transform: none !important;
  }
}

.form-field {
  @apply bg-muted/40 flex min-h-14 items-center justify-between gap-4 rounded-none px-4 py-2 max-sm:flex-col;
}
